:root{
    --main-color-text-gray:#757575;
    --accent-color-blue: #2196F3; 
    --background-color-white: #FFFFFF;
    --secondary-color-black: #212121;
    --bg-color-sektion: #2F303A;
    --bg-btn-color-white-gray: #F5F4FA;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}  

html{
    box-sizing: border-box;
}

body{
    font-family: 'roboto', 'sans-serif';
    font-size: 14px;
    color: var(--main-color-text-gray);
}

img{
    display: block;
    max-height: 100%;
    height: auto;
}

li{
    list-style: none;
}

h1, h2, h3, ul, p{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-footer{
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}





           /* header */

.header{
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--background-color-white);
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    display: flex;
    z-index: 55;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #ECECEC;
}

.menu{
    display: none;
}

.nav-contact{
    display: none;
}
           
.header .container{
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;

}

.nav{
    margin-right: auto;
}

.nav-text{
    color: var(--secondary-color-black);
    line-height: 1.142;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    transition-duration: 300ms;
}    

.logo{
    font-family: 'raleway', 'sans-serif';
    color: var(--secondary-color-black);
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    justify-content: center;
}

.text-nav{
    margin-bottom: 52px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.02em;
}

.text-nav:not(:last-child){
    margin-bottom: 0px;
}

.text-nav:hover::after,
.text-nav:focus::after{
    opacity: 1;
}

.text-nav::after {
    content: "";
    position: absolute; 
    margin-top: 8px;
    border-radius: 2px;
    border: 2px solid var(--accent-color-blue);
    display: block;
    transition-duration: 300ms;
    left: 165px;
    right: 165px;
    background-color: var(--accent-color-blue);
    pointer-events: none;
    opacity: 0;
}

.text-nav.focus-studio::after{
    right: 185px;
    left: 185px;
}

.text-nav.gg::after{
    right: 170px;
    left: 170px;
}

.focus-studio::after{
    opacity: 1;
}

.logo-blye{
    color: var(--accent-color-blue);
}

.focus-studio.nav-text{
    color: var(--accent-color-blue);
}

.screen-box{
    position: relative;
    display: none;
    
}

.screen-box-modal{
    position: absolute;
     position: fixed;
    width: 100%;
    height: 453px;
    left: 50%;
    transform: translate(-50%, 0%) scale(1);
    background-color: var(--background-color-white);
    z-index: 54;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-screen{
    text-align: center;
    margin-top: 120px;
}

.nav-contact-screen{
    text-align: center;
    margin-top: 60px;
}

.test{
    display: none;
}

.link-svg{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.02em;
}



            /* hero */

.air{
    height: 60px;
} 

.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color-sektion);
    width: 100%px;
    height: 400px;
    padding: 118px 0;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../photo/bg/Img-bg.jpg);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-box{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 200px;
    text-align: center;
}

.hero-text{
    color: var(--background-color-white);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.ability-headlines{
    color: var(--secondary-color-black);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 0.875;
    letter-spacing: 0.03em; 
    margin-top: 30px;
    text-align: center;
}

.ability-text{
    font-size: 14px;
    line-height: 1.714; 
    letter-spacing: 0.03em;
    /* width: 270px; */
    width: 100%;
    /* height: 75px; */
    height: 50px;
    margin-top: 10px;
}




            /* button */


.btn{
    background-color: var(--accent-color-blue);
    color: var(--background-color-white);
    width: 200px;
    height: 50px;  
    border: 0px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 300ms;
}

.btn-text{
    font-size: 16px; 
    line-height: 1.875;
    letter-spacing: 0.06em;
    margin-top: 30px;
} 

.btn-screen{
    width: 40px;
    height: 40px;
    background-color: var(--background-color-white);
    border: none;
    justify-content: flex-end;
}

.screen-box.is-open{
    display: block;
}





        /* link */
.link{
    display: block;
    text-decoration: none;
    color: inherit;
}

.link:focus ,
.link:hover {
    color: var(--accent-color-blue);
}

            /* наши плюхи */

.lesson-details{
    padding-top: 60px;
    padding-bottom: 60px;
}

.ability-box{
    margin-top: 30px;
}

.gallery-box-absolute{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
}

.gallery-text-photo{
    padding-top: 27px;
    text-align: center;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color-white);
}

.ability-box::before {
    content: '';
    display: block;
    background-color: var(--bg-btn-color-white-gray);
    height: 120px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

.ability-box:nth-child(1)::before{
    background-image: url(../photo/sprite/lesson-details/Vector.svg);
}

.ability-box:nth-child(2)::before{
    background-image: url(../photo/sprite/lesson-details/Vector-2.svg);
}

.ability-box:nth-child(3)::before{
    background-image: url(../photo/sprite/lesson-details/Vector-3.svg);
}

.ability-box:nth-child(4)::before{
    background-image: url(../photo/sprite/lesson-details/astronaut.svg);
}

/* .ability-box:nth-child(4n + 1){
    margin-left: 0px;
} */

.ability{
    display: flex; 
    flex-wrap: wrap;
}





            /* чем мы занимаемся */

.classes{
    color: var(--secondary-color-black);
    text-align: center;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
}

.our-occupation{
    margin-top: 94px;
    display: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

.photo-occupation{
    margin-top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}




            /* team */
            
.team{
    background: var(--bg-btn-color-white-gray);
    padding: 60px 0;
}

.team-photo{
    display: flex;
    flex-wrap: wrap;
}

.team-photo-item{
    margin-top: 50px;
    /* margin-left: 30px; */
    /* flex-basis: calc(100% / 4 - 30px);   */
}

/* .team-photo-item:nth-child(4n + 1){
    margin-left: 0px;
} */

.name{
    text-align: center;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--secondary-color-black);
}

.name-profession{
    background-color: var(--background-color-white);
    width: 450px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
}

.profession{
    text-align: center;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    margin-top: 10px;
}





            /* footer */

.footer{
    background-color: var(--bg-color-sektion);
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo{
    color: var(--background-color-white);
}

.address{
    width: 100%;
    margin-top: 20px;
}

.map{
    margin-bottom: 9px;
    color: var(--background-color-white);
    text-align: center;
}

.contact{
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.box-footer{
    height: 90px;
    margin-top: 60px;
}

.mail-footer{
    margin-top: 60px;
}

.social-item-nav-svg{
    height: 12px;
    width: 16px;
    fill: var(--main-color-text-gray);
    margin-right: 10px;
}


.social-link-svg{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-duration: 300ms;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
}

.social-link-svg:hover .social-item-svg,
.social-link-svg:focus .social-item-svg{
   fill: var(--background-color-white);
}

.social-link-svg:hover,
.social-link-svg:focus{
    background-color: var(--accent-color-blue);
}

.social-item-svg{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.clients-box{
    padding-top: 60px;
    padding-bottom: 60px;
}

.link-clients-svg{
    height: 90px;
    border: 1px solid #AFB1B8;
    display: flex;
    transition-duration: 300ms;
    border-radius: 4px;
    fill: #AFB1B8;
    align-items: center;
    justify-content: center;
}

.link-clients-svg:focus .clients-svg ,
.link-clients-svg:hover .clients-svg{
    fill: var(--accent-color-blue);
     transition-duration: 300ms;
}

.link-clients-svg:focus,
.link-clients-svg:hover{
    border: 1px solid var(--accent-color-blue);
}

.clients-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

}

.item-client{
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px; 
}

.social-list{
    margin-left: auto;
    margin-right: auto;
}

.social-list:not(:last-child){
    margin-right: 10px;
}

.social{
    display: flex;
    justify-content: center;
    padding-left: 122px;
    padding-right: 122px;
}

.phone-svg{
    height: 16px;
    width: 10px;
    fill: var(--main-color-text-gray);
}

.link-svg:hover .social-item-nav-svg ,
.link-svg:focus .social-item-nav-svg{
    fill: var(--accent-color-blue);
}

.social-item-footer-svg{
    width: 20px;
    height: 20px;
    fill: var(--background-color-white);
}

.social-list-footer{
    margin-left: auto;
    margin-right: auto;
}

.social-link-footer-svg{
    transition-duration: 300ms;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.social-footer{
    display: flex;
    padding-left: 137px;
    padding-right: 137px;
}

.social-link-footer-svg:hover,
.social-link-footer-svg:focus{
    background-color: var(--accent-color-blue);
}

.footer-clases{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--background-color-white);
    font-weight: normal;
    font-size: 1.166;
    letter-spacing: 0.03em;
    line-height: 16px;
    text-align: center;
}   






.backdrop{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    opacity: 1;
}

.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    transition-duration: 300ms;
}

.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.5);
}

.btn-close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--background-color-white);
    color: #000000;
    cursor: pointer;
}
.btn-close:focus,
.btn-close:hover{
    color: var(--accent-color-blue);
    background-color: var(--background-color-white);
}

.modal{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    max-width: 528px;
    height: 609px;
    background-color: var(--background-color-white);
    transition: transform 0.5s;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn-screen .btn-menu-close{
    display: none;
}

.btn-screen.is-open .btn-menu-open{
    display: none;
}

.btn-screen.is-open .btn-menu-close{
    display: block;
}

.svg-btn-modal{
    width: 24px;
    height: 16px;
    fill: var(--secondary-color-black);
}

.btn-screen:focus .svg-btn-modal,
.btn-screen:hover .svg-btn-modal{
    fill: var(--accent-color-blue);
}

.text-modal{
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    display: block;
    width: 370px;
    letter-spacing: 0.03em;
    color: var(--secondary-color-black);
}

.btn:focus,
.btn:hover{
    color: var(--accent-color-blue);
    background-color: var(--background-color-white);
}

.mail .btn{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    transition-duration: 300ms;
}

.mail{
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    margin-right: 12px;
    color: var(--background-color-white);
    padding-left: 16px;
}

.mail::placeholder{
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mail:focus{
    border-color: var(--accent-color-blue);
}

.mail:focus::placeholder{
    color: var(--background-color-white);
}

.form-name{
    padding-left: 42px;
    width: 370px;
    height: 40px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.mail:-webkit-autofill,
.mail:-webkit-autofill:hover, 
.mail:-webkit-autofill:focus{
    -webkit-text-fill-color: var(--background-color-white);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color-sektion) inset;
}

.form-name:-webkit-autofill,
.form-name:-webkit-autofill:hover, 
.form-name:-webkit-autofill:focus{
    -webkit-text-fill-color: var(--secondary-color-black);
    -webkit-box-shadow: 0 0 0px 1000px var(--background-color-white) inset;
}

.lable{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.name-box-position{
    position: relative;
}

.social-item-btn{
    position: absolute;
    right: 28px;
    top: 13px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    fill: var(--background-color-white);
}

.btn-footer:focus .social-item-btn,
.btn-footer:hover .social-item-btn{  
    fill: var(--accent-color-blue);
    transition-duration: 300ms;
}

.btn-footer{
    position: relative;
    padding-right: 28px;
    margin-top: 20px;
    margin-left: 130px;
}

.footer .logo{
    margin-left: 163px;
}

.social-item-modal{
    position: absolute;
    left: 14px;
    top: 18px;
    fill: var(--secondary-color-black);
}

.form-name:focus~.social-item-modal{
    fill: var(--accent-color-blue);
    border-color: var(--accent-color-blue);
}

.coment{
    width: 370px;
    height: 120px;
    padding: 12px 16px;
    text-align: start;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
}

.coment-lable-box{
    margin-top: 12px;
}

.text-chek-box{
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.btn-modal{
    background-color: var(--accent-color-blue);
    color: var(--background-color-white);
    width: 200px;
    height: 50px;
    border: 0px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 80px;
    margin-top: 30px;
}

.btn-text-modal{
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.link-modal{
    color: var(--accent-color-blue);
}

input[type="checkbox"] {
    display: none;
  }
  
  .box-checkbox {
    padding-left: 20px;
  }

  .box-checkbox::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: -20px;
    margin-right: 8px;
    background-image: url(../photo/sprite/checbox/off-check.svg);
  }

  input[type="checkbox"]:checked + .box-checkbox::before {
    content: '';
    background-size: 100%;
    background-image: url(../photo/sprite/checbox/check.svg)
}

@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }

    .container-footer{
        width: 768px;
    }

    .screen-box.container{
        display: none;
    }
    
    .test{
        display: flex;
        align-items: center;
    }

    .container.header-container{
        align-items: center;
    }

    .menu{
        display: flex;
    }
    
    .nav-contact{
        display: block;
        align-items: center;
    }

    .nav-text{
        margin-right: 50px;
    }

    .text-nav{
        display: inline;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;   
    }

    .header{
        height: 80px;
    }

    .text-nav::after{
        margin-top: 29px;
        left: 0;
        right: 0;

    }

    .text-nav.focus-studio::after{
        left: 0;
        right: 0;
    }

    .nav-text:last-child {
        margin-right: 84px;
    }

    .link-contact{
        margin-bottom: 10px;
    }

    .link-contact:last-child{
        margin-bottom: 0px;
    }

    .link-svg{
        margin-bottom: 0px;
        margin-right: 0px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.166;
        letter-spacing: 0.02em;
    }

    .btn-screen{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .hero{
        width: 100%;
        height: 400px;
    }

    .ability-box{
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
    }
    
    .ability{
        margin-left: -30px;
        margin-top: -30px;
    }
}
@media screen and (min-width: 768px){
    .img-photo-team{
        width: 354px;
        height: 374px;
    }

    .name-profession{
        width: 354px;
    }

    .team-photo{
        margin-left: -30px;
        margin-top: -50px;
    }

    .team-photo-item{
        margin-left: 30px;
        margin-top: 30px
    }
}
@media screen and (min-width: 768px){
    .item-client{
        flex-basis: calc(100% / 3 - 30px);
    }
    
    .clients-list{
        margin-top: -30px;
    }

    .classes{
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px){
    .footer .logo{
        margin-left: 40px;
        text-align: center;
    }

    .footer{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .map{
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    .contact{
        text-align: inherit;
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        letter-spacing: 0.03em;
    }

    .footer-box-link-btn{
        display: flex;
    }

    .mailing{
        text-align: center;
    }

    .btn-footer{
        display: block;
        margin-left: 215px;
    }

    .footer-clases{
        font-size: 14px;
        line-height: 1.333;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .container-footer{
        padding: 60px 89px 60px 76px;
    }

    .social-footer{
        padding-left: 0px;
        padding-right: 0px;
    }

    .box-footer{
        margin-top: 0px;
        margin-left: 165px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }

    .container-footer{
        width: 1200px;
    }

    .nav-contact{
        display: flex;
        margin-left: 215px;
    }

    .link-svg{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.333;
        letter-spacing: 0.02em;
        
    }

    .link-contact{
        margin-left: 30px; 
        margin-bottom: 0px; 
    }

    .link-contact:first-child{
        margin-left: 0px;
    }
}
@media screen and (min-width: 1200px){
    .hero{
        width: 100%;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    
    .hero-box{
        width: 696px;
        height: 120px;
    }

    .hero-text{
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}
@media screen and (min-width: 1200px){
    .lesson-details{
        padding-top: 95px;
        padding-bottom: 95px;
    }

    .ability-box{
        margin-left: 30px;
        flex-basis: calc(100% / 4 - 30px);
        }
        
        .ability{
            margin-left: -30px;
            margin-top: -30px;
        }
}
@media screen and (min-width: 1200px){
    .our-occupation{
        display: block;
    }

    .gallery{
        margin-top: -30px;
    }
}
@media screen and (min-width: 1200px){
    .img-photo-team{
        width: 270px;
        height: 260px;
    }

    .name-profession{
        width: 270px;
    }

    .team{
        padding-top: 95px;
        padding-bottom: 95px;
    }

    .team-photo{
        margin-top: -10px;
    }
}
@media screen and (min-width: 1200px){
    .clients-box{
        padding-top: 95px;
        padding-bottom: 95px;
    }

    .item-client{
        flex-basis: calc(100% / 6 - 30px);
    }
}
@media screen and (min-width: 1200px){
    .footer .logo{
        margin-left: 0px;
    }

    .container-footer{
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-logo-link{
        width: 231px;
    }

    .contact{
        text-align: inherit;
    }

    .mailing{
        display: flex;
    }

    .box-footer{
        margin-left: 70px;
    }

    .mail-footer{
        margin-top: 0px;
        margin-left: 95px;
    }

    .btn-footer{
        margin-left: 12px;
        margin-top: 0px;
    }

    .container-footer{
        display: flex;
    }

    .mail{
        width: 358px;
        margin-right: 0px;
    }

    .footer-clases{
        font-size: 14px;
        line-height: 1.333;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}
@media screen and (min-width: 1200px){
    .modal{
        width: 528px;
        height: 581px;
    }

    .text-modal{
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        width: 448px;
    }

    .form-name{
        width: 448px;
    }

    .coment{
        width: 448px;
    }

    .box-checkbox{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    .link-modal{
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    .btn-modal{
        margin-left: 115px;
    }
}