.logo{
    font-family: 'raleway', 'sans-serif';
    color: var(--secondary-color-black);
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    margin-right: 100px;
}

.logo-blye{
    color: var(--accent-color-blue);
}