.social-list{
    margin-left: auto;
    margin-right: auto;
}

.social-list:not(:last-child){
    margin-right: 10px;
}

.social{
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
}

.social-item-svg{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.social-link-svg{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-duration: 300ms;
    align-items: center;
    justify-content: center;

    &:hover .social-item-svg,
    &:focus .social-item-svg{
        fill: var(--background-color-white);
    }

    &:hover,
    &:focus{
        background-color: var(--accent-color-blue);
    }
}