*,
*::before,
*::after {
    box-sizing: inherit;
} 

html{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--main-color-text-gray);
}

img{
    display: block;
    max-height: 100%;
    height: auto;
}

li{
    list-style: none;
}

h1, h2, h3, ul, p{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.link-galery{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.link-galery:hover,
.link-galery:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  
}

.link{
    transition-duration: 300ms;
    text-decoration: none;
    color: inherit;
}

.link:focus,
.link:hover{
    color: var(--accent-color-blue);
}