.footer{
    background-color: var(--bg-color-sektion);
    height: 252px;
    padding-top: 60px;
}

.container-footer{
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer .logo{
    color: var(--background-color-white);
}

.address{
    width: 230px;
    margin-top: 20px;
}

.map{
    margin-bottom: 9px;
    color: var(--background-color-white);
}

.contact{
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
}

.box-footer{
    margin-left: 70px;
    margin-right: 90px;
    width: 206px;
    height: 90px;
}

.social-item-footer-svg{
    width: 20px;
    height: 20px;
    fill: var(--background-color-white);
}

.social-list-footer{
    margin-left: auto;
    margin-right: auto;
}

.social-link-footer-svg{
    transition-duration: 300ms;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;

    &:hover,
    &:focus{
        background-color: var(--accent-color-blue);
    }
}

.social-footer{
    display: flex;
    margin-top: 20px;
}


.footer-clases{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--background-color-white);
    font-weight: normal;
    font-size: 1.166;
    letter-spacing: 0.03em;
    line-height: 16px;
}



.mail .btn{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    transition-duration: 300ms;
}

.btn:focus,
.btn:hover{
    color: var(--accent-color-blue);
    background-color: var(--background-color-white);
}

.mail{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    margin-right: 12px;
    color: var(--background-color-white);
    padding-left: 16px;


    &::placeholder{
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    &:focus{
        border-color: var(--accent-color-blue);
    }

    &:focus::placeholder{
        color: var(--background-color-white);
    }



    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus{
        -webkit-text-fill-color: var(--background-color-white);
        -webkit-box-shadow: 0 0 0px 1000px var(--bg-color-sektion) inset;
    }
}
.social-item-btn{
    position: absolute;
    right: 28px;
    top: 13px;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    fill: var(--background-color-white);
}

.btn-footer{
    position: relative;
    padding-right: 63px;

    &:focus .social-item-btn,
    &:hover .social-item-btn{  
        fill: var(--accent-color-blue);
        transition-duration: 300ms;
    }
}

input[type="checkbox"] {
    display: none;
}