.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color-sektion);
    width: auto;
    padding: 200px 0;
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../photo/bg/Img-bg.jpg);
    background-position: center;
}

.hero-box{
    margin-left: auto;
    margin-right: auto;
    width: 630px;
    height: 200px;
    text-align: center;
}

.hero-text{
    color: var(--background-color-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.ability-headlines{
    color: var(--secondary-color-black);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 0.875;
    letter-spacing: 0.03em; 
    margin-top: 30px; 
}

.ability-text{
    font-size: 14px;
    line-height: 1.714; 
    letter-spacing: 0.03em;
    width: 270px;
    height: 75px;
    margin-top: 10px;
}