.main{
    padding-top: 94px;
    padding-bottom: 94px;
}

.photo{
    width: 100%;
}

.containret-text-photo{
    padding: 20px 24px;
}

.text-photo{
    color: var(--secondary-color-black);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-photo-gray{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.blye-box-gallery{
    position: relative;
    overflow: hidden;
}